.container-main-and-footer {
  flex-grow: 1;
  padding-top: 94px; /* Высота хедера */
  // position: absolute;
  width: 100%;
  // top: 104px;
  // left: auto;
  // right: auto;
  @include tablet {
    // top: 116px;
    padding-top: 106px;
  }
  @include desktop {
    // top: 114px;
    padding-top: 114px;
  }
}
