.mob-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 18px;
  background-color: var(--bg-color);
  z-index: 52;
  overflow: auto;
  transform: translateY(0%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-nav-menu.active {
  top: 0;
}

.mob-container {
  display: flex;
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 68px;
}

.mob-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.37;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  padding-top: 6px;
  padding-bottom: 6px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-color);
  }
}

.mob-menu__icon {
  margin-right: 14px;
  fill: var(--accent-color);
  border-radius: 50%;
  margin-left: 16px;
  stroke: var(--bg-color);
  stroke-width: 2px;
}

.button-menu {
  display: flex;
  position: absolute;
  top: 28px;
  right: 8%;
  background-color: transparent;
  border: none;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

body.lock {
  overflow: hidden;
}

.mob-menu__link.selected-menu {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.selected-menu::after {
  position: absolute;
  right: 8%;
  content: '';
  background-image: url(../img/chevron-right.svg);
  object-fit: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.mob-menu-switch {
  margin-left: 16px;
  margin-top: 10px;
}

.mob-nav-menu--dark {
  fill: var(--bg-color);
  color: var(--bg-color);
  background-color: var(--bg-dark-color);

  .button-menu__icon-close--dark {
    fill: var(--bg-color);
  }
}
