:root {
    /*color*/
    --bg-color: #f4f4f4;
    --main-color: #111321;
    --color-btn-fav: #111321;
    --accent-color: #4440f6;
    --second-color: #a8a8a8;
    --third-color: #ffffff;
    --border-color: #4440f7;
    --theme-color: #4b48db;
    --switcher-gray-moon: #5f6775;
    --switcher-accent-day: #4b48db;
    --footer-color: #7a7a7a;
    --bg-dark-color: #2e2e2e;
  }