.mobile_category_menu {
  position: relative;
  z-index: 1;
  @include tablet {
    display: none;
  }
}

.category_menu {
  display: none;

  @include tablet {
    display: block;
  }
}

.mobile_category_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  min-width: 112px;
  min-height: 31px;
  border-radius: 20px;
  padding: 7.5px 13px;
  font-size: 12px;
  line-height: 16px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--switcher-accent-day);
}

.is-active {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.category_mob_icon {
  fill: var(--switcher-accent-day);
  transition: transform 200ms ease;
}

.rotate {
  transform: rotate(180deg);
  fill: var(--third-color);
}

.mobile_category_list {
  display: flex;
  left: 0;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  position: absolute;
  padding: 14px;
  width: 148px;
  overflow-y: scroll;
  height: 380px;
  background-color: #f8f8f8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
  transform: translateY(0);
  transition: transform 300ms ease;
}

.mobile_category_list button {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  text-align: left;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.category_list {
  display: flex;
  gap: 16px;
  @media screen and (max-width: 1279px) {
    & li:nth-child(5n),
    li:nth-child(6n) {
      display: none;
    }
  }
}

.category_list > li:nth-child(-n + 6) button,
.category_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  min-height: 31px;
  border-radius: 20px;
  padding: 7.5px 22.5px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--switcher-accent-day);
  fill: var(--switcher-accent-day);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-color);
    fill: var(--third-color);
  }
}

.category_menu {
  position: relative;
}

.dropdown_content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  position: absolute;
  padding: 14px;
  width: 168px;
  height: 380px;
  overflow-y: scroll;
  background-color: #f8f8f8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
  transform: translateY(0);
  transition: transform 300ms ease;
}

.dropdown_content::-webkit-scrollbar {
  width: 5px;
}

.dropdown_content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--third-color);
  border-radius: 10px;
}

/* Handle */
.dropdown_content::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

/* Handle on hover */
.dropdown_content::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
  border: 1px solid var(--third-color);
  box-shadow: inset 0 0 3px var(--third-color);
}

.dropdown_content button {
  border: none;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  background-color: #f8f8f8;
  text-align: left;
  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: transparent;
    color: var(--accent-color);
  }
}

.category_icon {
  transition: transform 200ms ease;
}

.is-active-category-btn {
  background-color: var(--accent-color) !important;
  color: var(--third-color) !important;
}

.is-active-other-btn {
  background-color: var(--accent-color) !important;
  color: var(--third-color) !important;
  fill: var(--third-color);
}

.category_hidden {
  transform: translateY(-130%);
}

.category_mobile_hidden {
  display: none;
  transform: translateY(-100%);
}

.dark-categories-btn {
  background-color: var(--third-color);
}
