.mobile_category_menu {
  position: relative;
  margin-top: 24px;
  @include tablet {
    display: none;
  }
}

.category_menu {
  display: none;

  @include tablet {
    display: block;
  }
}

.mobile_category_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  width: 112px;
  min-height: 31px;
  border-radius: 20px;
  padding: 7.5px 13px;
  padding-right: 28px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--switcher-accent-day);
  background-color: var(--third-color);
}

.is-active {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.category_icon {
  position: absolute;
  top: 14px;
  left: 85px;
  fill: var(--switcher-accent-day);
  transition: transform 200ms ease;
}

.rotate {
  transform: rotate(180deg);
  fill: var(--third-color);
}

.mobile_category_list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  position: absolute;
  padding: 14px;
  width: 148px;
  overflow-y: scroll;
  height: 380px;
  background-color: #f8f8f8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
  transform: translateY(0);
}

.mobile_category_list button {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  text-align: left;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.category_hidden {
  display: none;
  transform: translateY(-100%);
}

.category_list {
  display: flex;
  gap: 16px;
  margin-top: 28px;
}

.category_menu button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  min-height: 31px;
  border-radius: 20px;
  padding: 7.5px 22.5px;
  padding-right: 28px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--switcher-accent-day);
  background-color: var(--third-color);
}
