<div class="con-calendar">
  <div class="calendar">
    <div class="month-year">
      <div class="month">
        <i class="fas fa-angle-left prev"></i>
        <div class="date">
          <h1></h1>
          <p></p>
        </div>
        <i class="fas fa-angle-right next"></i>
      </div>

      <div class="year">
        <i class="fas fa-angle-left prev-year"></i>
        <div class="date">
          <h2></h2>
        </div>
        <i class="fas fa-angle-right next-year"></i>
      </div>
    </div>

    <div class="weekdays">
      <div>Su</div>
      <div>Mo</div>
      <div>Tu</div>
      <div>We</div>
      <div>Th</div>
      <div>Fr</div>
      <div>Sa</div>
    </div>

    <div class="days"></div>
  </div>
</div>
