<div class="nav-menu menu-media">
  <div class="mob-container">
    <a class="mob-logo" href="#">News</a>
    <button
      class="button-menu"
      type="button"
      class="button-close__icon"
      data-menu-open
    >
      <svg width="22" height="22">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="mob-box">
    <ul>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#"
          ><svg class="mob-menu__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-home1"></use></svg>Home</a
        >
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#"
          ><svg class="mob-menu__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-heart1"></use></svg>Favorite</a
        >
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#"
          ><svg class="mob-menu__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-read1"></use></svg>Read</a
        >
      </li>
    </ul>
  </div>
</div>
