<section>
  <div class="weather-card">
    <div class="top-part">
      <p class="temperature"></p>
      <div class="extra-part">
        <p class="description"></p>
        <h2 class="city-name">
          <svg class="icon" width="27" height="27">
            <use
              href="./images/symbol-defs.svg#icon-carbon_location-filled"
            ></use>
          </svg>
        </h2>
      </div>
    </div>
    <img class="weather-icon" alt="weather-icon" />
    <div class="date">
      <p class="week-day"></p>
      <p class="month-year"></p>
    </div>
    <button type="button" class="week-weather-btn">weather for week</button>
  </div>
  <div class="week-forecast" style="display: none">
    <div class="weather-card">
      <ul class="week-forecast-list"></ul>
      <button type="button" class="today-forecast-btn">
        weather for today
      </button>
    </div>
  </div>
</section>
