<section>
  <div class="weather-card">
    <div class="top-part">
      <p class="temperature"></p>
      <div class="extra-part">
        <p class="description"></p>
        <h2 class="city-name"></h2>
      </div>
    </div>
    <img class="weather-icon" alt="weather-icon" />
    <div class="date">
      <p class="week-day"></p>
      <p class="month-year"></p>
    </div>
    <button type="button" class="week-weather-btn">weather for week</button>
  </div>
  <script src="../js/weather.js"></script>
</section>
