.calendar-form__text {
  display: none;

  @media screen and (min-width: 1280px) {
    display: inline;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.38;
    color: var(--main-color);
  }
}

.calendar-form {
  position: relative;

  @media screen and (min-width: 1280px) {
  }
}

.calendar-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 152px;
  height: 31px;
  padding: 5px 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;

  text-align: center;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;

  color: var(--main-color);
  background-color: transparent;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 168px;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    gap: 18px;
  }
}

.input-form {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: var(--accent-color);
  right: 12px;

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-arrow-icon {
  cursor: pointer;
}

.calendar__button-back {
  fill: var(--accent-color);
}
.calendar__button-calendar {
  position: absolute;
  fill: #4440f6;
  margin-left: 12px;

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
