.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    height: 31px;
    margin-bottom: 100px;
    margin-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 150px;
    margin-top: 60px;
  }
}

.pagin {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 288px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    height: 31px;
    width: 415px;
  }
}
.page-container a {
  padding: 4px 12px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
}

.page-container button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button.prev-page,
button.next-page {
  width: 72px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  // color: inherit;
  background-color: var(--bg-color);
}
button.prev-page {
  margin-right: 6px;
}
button.next-page {
  margin-left: 6px;
}
