.accordion-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  h1 {
    margin: 10px;
  }
  .collapsible {
    &-accordion {
      margin: 10px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    }
    &-item {
      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        background: purple;
        color: #fff;
        
        &::after {
        content: "\2192";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
      }
      &-content {
        max-height: 0;
        padding: 0 1em;
        background: white;
        transition: all 0.35s;
      }
    }
  }
  
  .accordion-input:checked {
    + .collapsible-item-label {
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .collapsible-item-content {
      max-height: 100vh;
      padding: 1em;
    }
  }