<footer>
     <div class="footer__info">
            <div class=“photo__volonteer”>
              <img
                    class=“footer__photo-picture”
                    src='/src/images/drone-min.jpg'
                    alt='drone-min'
                   width="146"
                  />
              </div>

              <div class="footer__new-page">
                <a class="footer__page-link"
                href='https://u24.gov.ua/uk/dronation?fbclid=IwAR2wKpTgualI-ELSZASPh-R-NmBx03auapXfPRZfTsXY68ZxbGmATKvLc88' target="_blank" rel="noreferrer noopener">
              <svg class="footer__svg-globe" width='20' height="20">
                <use href='./images/symbol-defs.svg#icon-globe'></use>
              </svg>
              Дронать в перемогу!
              </a>
              </div>

  </div>
    
</footer>