<footer>
    <div class="footer__info">
           <div class=“photo__victory”>
             <img
                   class=“footer__photo-victory”
                   src='/src/images/Serze-min.jpg'
                   alt='victory'
                 width="146"
                 />
             </div>

             <div class="footer__fav-page">
               <a class="footer__fav-link"
               href='https://www.facebook.com/groups/2231624833678045' target="_blank" rel="noreferrer noopener">
             <svg class="footer__svg-globe" width='20' height="20">
               <use href='./images/symbol-defs.svg#icon-globe'></use>
             </svg>
             Вперед до перемоги!
             </a>
             </div>

 </div>
   
</footer>