<footer>
    <div class="footer__info">
           <div class=“footer__bairactar”>
             <img
                   class=“photo__bairactar”
                   src='/src/images/bpla-bajraktar-bayraktar-min.jpg'
                   alt='bairactar'
                  width="220"
                 />
             </div>

             <div class="footer__read-page">
               <a class="footer__read-link"
               href='https://prytulafoundation.org/' target="_blank" rel="noreferrer noopener">
             <svg class="footer__svg-globe" width='20' height="20">
               <use href='./images/symbol-defs.svg#icon-globe'></use>
             </svg>
             Захистимо наше майбутнє!
             </a>
             </div>

 </div>
   
</footer>