<div class="filter-elements">
  <div class="category-filter">
    <div class="category_menu">
      <ul class="category_list">
        <div class="dropdown">
          <button type="button" class="category_btn">
            <span class="desk-btn-span">Other</span>
            <svg class="category_icon" width="14" height="8">
              <use href="/src/images/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
          <div class="dropdown_content category_hidden"></div>
        </div>
      </ul>
    </div>
    <div class="mobile_category_menu">
      <button type="button" class="mobile_category_btn">
        <span class="mob-btn-span">Categories</span>
        <svg class="category_mob_icon" width="14" height="8">
          <use href="/src/images/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </button>

      <ul class="mobile_category_list category_hidden"></ul>
    </div>
  </div>
</div>