<div class="category_menu">
  <ul class="category_list">
    <div class="dropdown_menu">
      <button type="button" class="category_other_btn">Other</button>
      <ul class="dropdown_content"></ul>
    </div>
  </ul>
</div>
<div class="mobile_category_menu">
  <button type="button" class="mobile_category_btn">Categories</button>
  <svg class="category_icon" width="14" height="8">
    <use href="/src/images/symbol-defs.svg#icon-arrow-down"></use>
  </svg>
  <ul class="mobile_category_list category_mobile_hidden"></ul>
</div>
<div class="content"></div>
